@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/Appjs/UserAccess/UserAccessView.js"></script>

<script type="text/javascript">

    function AddUserAccess() {

        window.location.href = '@Url.Action("New","UserAccess")';
        return false;

    }

</script>

<div ng-controller="UserAccessViewCtrl">
    <div class="col-xl-12 PageMargin">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title float-left" style="width:100% !important">
                    <span>利用管理</span>
                    <button type="button" class="btn btn-xs btn-primary float-right" onclick="AddUserAccess();" style="margin-right:2%">
                        <span class="fa fa-plus">
                            新規
                        </span>
                    </button>
                </h2>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-12">
                    </div>
                    <div class="col-12">
                        <table id="example-11" class="display table table-hover table-condensed" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th style="5%"></th>
                                    <th style="5%">Sr No</th>
                                    <th style="25%">フロア</th>
                                    <th style="25%">権限管理メモ</th>
                                    <th style="10%">ステータス</th>
                                    <th style="5%">バージョン</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="item in UserAccessList | orderBy: 'RowId' | itemsPerPage: pageSize | record:'currentPage':this">
                                    <td>
                                        <span style="cursor:pointer" ng-click="RedirectUserAccessToEdit(item.UserAccessId);">
                                            <i class="fa fa-edit"></i>
                                        </span>
                                    </td>
                                    <td ng-bind="item.RowId"></td>
                                    <td ng-bind="item.FloorName"></td>
                                    <td ng-bind="item.FloorDesc"></td>
                                    <td>
                                        <span class="badge badge-primary" ng-bind="item.IsActive" ng-show="item.IsActive == 'Active'"></span>
                                        <span class="badge badge-defaut" ng-bind="item.IsActive" ng-show="item.IsActive == 'InActive'"></span>
                                    </td>
                                    <td ng-bind="item.CreatedOn"></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <div class="text-center pull-right">
                                            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                                                     template-url="@Url.Content("~/dirpagination.tpl.html")">
                                            </dir-pagination-controls>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>